* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: InterRegular, sans-serif;
  background: #fffefc;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input,
input:hover,
input:focus {
  outline: none;
  border: none;
}

button,
button:hover,
button:focus,
button:focus-visible,
button:focus-within {
  padding: 0;
  background-color: inherit;
  color: inherit;
  border: none;
  font-family: inherit;
  outline: inherit;
  cursor: pointer;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: "InterThin", sans-serif;
  src: url("/fonts/Inter-Thin.ttf");
}

@font-face {
  font-family: "InterExtraLight", sans-serif;
  src: url("/fonts/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "InterLight", sans-serif;
  src: url("/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "InterRegular", sans-serif;
  src: url("/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "InterMedium", sans-serif;
  src: url("/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "InterBold", sans-serif;
  src: url("/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "InterSemiBold", sans-serif;
  src: url("/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "InterExtraBold", sans-serif;
  src: url("/fonts/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "InterBlack", sans-serif;
  src: url("/fonts/Inter-Black.ttf");
}
